---
- name: |
    Create the log backup directory: {{ LOG_BACKUP_DIR }}
  file: 
    path: "{{ LOG_BACKUP_DIR }}"
    state: directory

- name: Get LOG_START_ISO8601 date
  shell: >-
    date -u -d '{{ LOG_HOURS_BACK }} hours ago' '+%FT%T.%NZ'
  register: LOG_START_ISO8601_CMD
- name: Get LOG_END_ISO8601 date
  shell: >-
    date -u '+%FT%T.%NZ'
  register: LOG_END_ISO8601_CMD
- name: Get LOG_START_NANOS date
  shell: >-
    date -d '{{ LOG_START_ISO8601_CMD.stdout }}' '+%s%N'
  register: LOG_START_NANOS_CMD
- name: Get LOG_END_NANOS date
  shell: >-
    date -d '{{ LOG_END_ISO8601_CMD.stdout }}' '+%s%N'
  register: LOG_END_NANOS_CMD

- name: Get files in a folder
  find:
    paths: "{{ LOG_BACKUP_DIR }}"
  register: found_files

- name: Get latest file
  set_fact:
    latest_file: "{{ (found_files.files | default([])) | sort(attribute='mtime',reverse=true) | first | default(None) }}"

- copy:
    content: |
      LOG_START_ISO8601: "{{ LOG_START_ISO8601_CMD.stdout }}"
      LOG_START_NANOS: "{{ LOG_START_NANOS_CMD.stdout }}"
      LOG_END_ISO8601: "{{ LOG_END_ISO8601_CMD.stdout }}"
      LOG_END_NANOS: "{{ LOG_END_NANOS_CMD.stdout }}"
      CONTINUE: "{{ ((LOG_END_NANOS_CMD.stdout + '9') > LOG_END_NANOS_CMD.stdout) | string | lower }}"
    dest: "{{ LOG_CONFIG_FILE }}"

- name: Get logs
  include_role:
    name: computate.computate_loki_log_backup_query
  loop: [1,2,3,4,5,6,7,8,9,10]
  loop_control:
    index_var: query_index
  